.cellphone{
  width: 260px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 5px 10px 12px 10px;
  border-radius: 40px;
  position: relative;
  top: 5em;
  background-color: $White;
  box-shadow: 4px 8px 30px $Dark_Grayish_Violet;
  .cellphone__microphone{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 25px;
    margin:0 auto;
    border-radius: 20px;
    background-color: $White;
  }
  .chat-container{
    height: 98%;
    margin-top: 5px;
    border-radius: 30px;
    background-color: rgb(233, 228, 228);
  }
}