
.text{
  margin-top: 9em;
  text-align: center;
  padding: 0 40px;
  h1{
    font-size: 35px;
    color: $Very_Dark_Desaturated_Violet;
  }
  p{
    color:$Dark_Grayish_Violet;
    font-size: .9em;
    padding: 0 9px;
    margin: 0;
    line-height: 1.7;
  }
}